.postContainer{
    display: grid;
    grid-template-columns: 40px 150px 40px;
    grid-template-rows: 20px 100px auto;
}

.threadPic{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.userNameAndTittle{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.postBody{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}